[submodule "bench/rapidjson"]
	path = bench/deps/rapidjson
	url = https://github.com/Tencent/rapidjson/
[submodule "bench/deps/parson"]
	path = bench/deps/parson
	url = https://github.com/kgabis/parson
[submodule "bench/deps/ljson"]
	path = bench/deps/ljson
	url = https://github.com/lengjingzju/json
